.estilos {
/*    background-color: thistle;  */
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
  align-items: center;  
}
