.estilos {
  width: 166%;
  height: 400px;
  background-color: thistle;
  color: dimgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
