.navbar {
  width: 162%;
  color: rgb(123, 124, 124);
  background-color: navy;
  text-align: center;
  display: flex;
  position: sticky;
  top: 1;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  opacity: 100%;
}

.logo {
  width: 200px;
}