 :root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center; 
  align-items: center;  
  width: 100%;
}


@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('woff2');
}

body {
  font-family: Comfortaa;
  margin: 0;
  background-color: #1a1a1a;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c69e9e;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.navbar {
  color: rgb(123, 124, 124);
  background-color: navy;
  text-align: center;
  display: flex;
  position: sticky;
  top: 0;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  opacity: 100%;
  width: 100%;
}

.logo {
  width: 30%;
}

.nav-item {
  padding: 0px 1.2em 0px 1.2em;
  font-size: 1.3em;
  display: inline-block;
}

.toggle {
  display: inline-flex;
  justify-content: space-between;
  margin: 5%;

}